.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
  justify-content: center;
}

.photo-card {
  width: 300px;

  //   height: 100%;
  flex-basis: calc((100% - 10px * 6) / 4);
  margin-top: 20px;
  //   margin-bottom: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  overflow: hidden;
  object-fit: cover;
  //   max-width: unset;
}

.info {
  //   display: flex;
  //   gap: 10px;
  //   justify-content: center;
  //   align-items: center;
  //   margin-right: 5px;
  //   margin-left: 5px;
  //   margin-bottom: 5px;
  //   //   height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 8px;
}

.info-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
}

.info-name {
  width: 100%;
}
